In [1]:
#Import Data Science Libs
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import ast

In [2]:
# Import the data - Movies Metadata
df = pd.read_csv("Movie_meta_cleaned.csv")
df.head()

,belongs_to_collection,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   original_language      45455 non-null  object
 4   original_title         45466 non-null  object
 5   popularity             45461 non-null  object
 6   production_companies   45463 non-null  object
 7   production_countries   45463 non-null  object
 8   release_date           45379 non-null  object
 9   revenue                45460 non-null  float64
 10  runtime                45203 non-null  float64
 11  spoken_languages       45460 non-null  object
 12  title                  45460 non-null  object
 13  vote_average           45460 non-null  float64
 14  vote_count             45460 non-null  float64
dtypes: float64(4), object(11)
memory usage: 5.2+ MB

In [4]:
df.genres.value_counts()

[{'id': 18, 'name': 'Drama'}]                                                                                                         5000
[{'id': 35, 'name': 'Comedy'}]                                                                                                        3621
[{'id': 99, 'name': 'Documentary'}]                                                                                                   2723
[]                                                                                                                                    2442
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]                                                                       1301
                                                                                                                                      ...
[{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}, {'id': 99, 'name': 'Documentary'}]             1
[{'id': 10752, 'name': 'War'}, {'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}, {'id': 53, 'name': 'Thriller'}]               1
[{'id': 27, 'name': 'Horror'}, {'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}, {'id': 53, 'name': 'Thriller'}]               1
[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}, {'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}]                   1
[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]       1
Name: genres, Length: 4069, dtype: int64

In [5]:
def parse_column(x):
    try:
        name = ast.literal_eval(x)[0]['name']
    except: 
        name = None
    
    return(name)

In [6]:
#Create new columns for name in certain columns

df['genre'] = df.genres.apply(lambda x: parse_column(x))
df['production_company'] = df.production_companies.apply(lambda x: parse_column(x))
df['production_country'] = df.production_countries.apply(lambda x: parse_column(x))
df['spoken_language'] = df.spoken_languages.apply(lambda x: parse_column(x))

df.head()

,belongs_to_collection,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count,genre,production_company,production_country,spoken_language
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0,Animation,Pixar Animation Studios,United States of America,English
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,Adventure,TriStar Pictures,United States of America,English
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0,Romance,Warner Bros.,United States of America,English
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0,Comedy,Twentieth Century Fox Film Corporation,United States of America,English
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0,Comedy,Sandollar Productions,United States of America,English

In [7]:
# Convert data to proper types.

df['budget'] = pd.to_numeric(df.budget, errors='coerce')
df['revenue'] = pd.to_numeric(df.revenue, errors='coerce')
df['release_date'] = pd.to_datetime(df.release_date, errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 45466 non-null  object
 3   original_language      45455 non-null  object
 4   original_title         45466 non-null  object
 5   popularity             45461 non-null  object
 6   production_companies   45463 non-null  object
 7   production_countries   45463 non-null  object
 8   release_date           45376 non-null  datetime64[ns]
 9   revenue                45460 non-null  float64
 10  runtime                45203 non-null  float64
 11  spoken_languages       45460 non-null  object
 12  title                  45460 non-null  object
 13  vote_average           45460 non-null  float64
 14  vote_count             45460 non-null  float64
 15  genre                  43024 non-null  object
 16  production_company     33585 non-null  object
 17  production_country     39178 non-null  object
 18  spoken_language        41631 non-null  object
dtypes: datetime64[ns](1), float64(5), object(13)
memory usage: 6.6+ MB

In [8]:
#Drop unnecessary columns
df = df.drop(columns=['belongs_to_collection', 'genres', 'original_language', 'original_title', 'production_companies', 'production_countries', 'spoken_languages'])

In [10]:
#release_date column break down

df['release_year'] = df.release_date.apply(lambda x: x.year)
df['release_month'] = df.release_date.apply(lambda x: x.month)
df['release_dayofweek'] = df.release_date.apply(lambda x: x.dayofweek)

#to produce weekend results
df['release_is_weekend'] = df.release_date.apply(lambda x: x.dayofweek >3)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   budget              45463 non-null  float64
 1   popularity          45461 non-null  object
 2   release_date        45376 non-null  datetime64[ns]
 3   revenue             45460 non-null  float64
 4   runtime             45203 non-null  float64
 5   title               45460 non-null  object
 6   vote_average        45460 non-null  float64
 7   vote_count          45460 non-null  float64
 8   genre               43024 non-null  object
 9   production_company  33585 non-null  object
 10  production_country  39178 non-null  object
 11  spoken_language     41631 non-null  object
 12  release_year        45376 non-null  float64
 13  release_month       45376 non-null  float64
 14  release_dayofweek   45376 non-null  float64
 15  release_is_weekend  45466 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(8), object(6)
memory usage: 5.2+ MB

In [11]:
# drop null values

df = df.dropna().reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32020 entries, 0 to 32019
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   budget              32020 non-null  float64
 1   popularity          32020 non-null  object
 2   release_date        32020 non-null  datetime64[ns]
 3   revenue             32020 non-null  float64
 4   runtime             32020 non-null  float64
 5   title               32020 non-null  object
 6   vote_average        32020 non-null  float64
 7   vote_count          32020 non-null  float64
 8   genre               32020 non-null  object
 9   production_company  32020 non-null  object
 10  production_country  32020 non-null  object
 11  spoken_language     32020 non-null  object
 12  release_year        32020 non-null  float64
 13  release_month       32020 non-null  float64
 14  release_dayofweek   32020 non-null  float64
 15  release_is_weekend  32020 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(8), object(6)
memory usage: 3.7+ MB

In [12]:
df.genre.value_counts()

Drama              9081
Comedy             6562
Action             3692
Horror             2087
Crime              1435
Documentary        1334
Thriller           1312
Adventure          1301
Romance             931
Animation           830
Fantasy             573
Science Fiction     502
Mystery             457
Family              395
Western             375
Music               324
War                 308
TV Movie            245
History             216
Foreign              60
Name: genre, dtype: int64

In [ ]:
11 categories: drama, comedy, action, horror, crime, documentary, thriller, romance, animation, fantasy, other
history -> documentary
thriller -> horror
mystery -> crime
war -> action
western ->action
science fiction -> fantasy
family -> animation
adventure -> action?
other = foreign, tv movie, music

In [ ]:
#Go back to this code

df.loc[df.genre["History"].value_counts().reset_index(), df.genre["Documentary"]] = "Documentary"
df.loc[df.genre["War"].value_counts().reset_index()] = df.genre["Action"]
df.loc[df.genre["Western"].value_counts().reset_index()] = df.genre["Action"]
df.loc[df.genre["Science Fiction"].value_counts().reset_index()] = df.genre["Fantasy"]
df.loc[df.genre["Family"].value_counts().reset_index()] = df.genre["Animation"]
df.loc[df.genre["Mystery"].value_counts().reset_index()] = df.genre["Crime"]
df.loc[df.genre["Adventure"].value_counts().reset_index()] = df.genre["Action"]

In [ ]:
#combining leftovers into category 'other'

# df.loc[~df['genre'].isin(), 'genre'] = 'other'

In [16]:
df.production_company.value_counts()[df.production_company.value_counts() >50]

Paramount Pictures                        975
Metro-Goldwyn-Mayer (MGM)                 807
Twentieth Century Fox Film Corporation    764
Universal Pictures                        739
Warner Bros.                              735
Columbia Pictures                         419
Columbia Pictures Corporation             394
RKO Radio Pictures                        288
United Artists                            269
New Line Cinema                           255
Walt Disney Pictures                      248
Mosfilm                                   178
Miramax Films                             171
TriStar Pictures                          158
Toho Company                              127
Gaumont                                   121
Orion Pictures                            107
BBC Films                                 105
Touchstone Pictures                        98
France 2 Cinéma                            98
Fox Searchlight Pictures                   89
Walt Disney Productions                    89
Village Roadshow Pictures                  88
Universal International Pictures (UI)      81
DreamWorks SKG                             76
Hammer Film Productions                    74
Lions Gate Films                           72
Channel Four Films                         72
New World Pictures                         67
British Broadcasting Corporation (BBC)     67
The Rank Organisation                      67
First National Pictures                    64
Nikkatsu                                   63
Lionsgate                                  62
Regency Enterprises                        62
Canal+                                     62
StudioCanal                                61
American International Pictures (AIP)      61
Shaw Brothers                              60
Shôchiku Eiga                              60
Nordisk Film                               59
Monogram Pictures                          59
CJ Entertainment                           58
TLA Releasing                              58
Imagine Entertainment                      57
Summit Entertainment                       55
Hollywood Pictures                         54
Svensk Filmindustri (SF)                   53
DC Comics                                  52
Rai Cinema                                 51
Name: production_company, dtype: int64

In [ ]:
#Go back to this code

df.loc[df.production_company["Lionsgate"].value_counts()] = df.production_company["Lions Gate Films"]                      
df.loc[df.production_company["British Broadcasting Corporation (BBC)"].value_counts().reset_index()] = df.production_company["BBC Films"]
df.loc[df.production_company["Universal International Pictures (UI)"].value_counts = df.production_company["Universal Pictures"]                      
df.loc[df.production_company["Walt Disney Productions"].value_counts().reset_index() = df.production_company["Walt Disney Pictures"]
df.loc[df.production_company["Fox Searchlight Pictures"].value_counts().reset_index()] = df.production_company["Twentieth Century Fox Film Corporation"]
df.loc[df.production_company["Columbia Pictures Corporation"].value_counts().reset_index()] = df.production_company["Columbia Pictures"]
df.loc[df.production_company["DreamWorks SKG"].value_counts().reset_index()] = df.production_company["Walt Disney Pictures"]

In [ ]:
#combining leftovers into category 'other'

# df.loc[~df['production_company'].isin(top10), 'production_company'] = 'other'

In [13]:
df.production_country.value_counts()

United States of America    15644
United Kingdom               2585
France                       2243
Canada                       1210
Japan                        1196
                            ...
Syrian Arab Republic            1
Namibia                         1
Botswana                        1
Tanzania                        1
Azerbaijan                      1
Name: production_country, Length: 139, dtype: int64

In [14]:
#Keep production companies with over 1000 values

df.production_country.value_counts()[df.production_country.value_counts() > 1000]

United States of America    15644
United Kingdom               2585
France                       2243
Canada                       1210
Japan                        1196
Germany                      1118
Italy                        1068
Name: production_country, dtype: int64

In [ ]:
#combining leftovers into category 'other'

# df.loc[~df.production_country.isin(df.production_country.value_counts() < 1000), 'production_country'] = 'other'

In [18]:
#Keep languages with over 100 values

df.spoken_language.value_counts()[df.spoken_language.value_counts() >100]

English        21269
Français        1884
日本語             1080
Deutsch          950
Italiano         943
Español          793
Pусский          713
हिन्दी           317
广州话 / 廣州話        316
한국어/조선말          300
普通话              271
svenska          259
Português        249
No Language      230
Dansk            226
العربية          213
Český            206
suomi            200
Nederlands       183
Polski           164
                 162
Name: spoken_language, dtype: int64

In [ ]:
#Go back to this code

df.loc[df.spoken_language["日本語"] = df.spoken_language["Japanese"] 
df.loc[df.spoken_language["广州话 / 廣州話"] = df.spoken_language["Chinese"]
df.loc[df.spoken_language["普通话"] = df.spoken_language["Chinese"]

In [ ]:
#combining leftovers into category 'other'

# df.loc[~df.spoken_language.isin(df.spoken_language.value_counts() < 100), 'spoken_language'] = 'other'

In [ ]:
# contains(genre).apply(lambda x:1 if x else 0)

In [ ]:
# Save copy to new df

# df1 = df.copy()

In [ ]:
#save new df to csv file

# df1.pd.to_csv("movies_cleaner.csv")

In [ ]:
#Open other notebook for Machine Learning