In [1]:
# Data Science Libs
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# model preprocessing & metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, auc

# algorithm
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier

In [3]:
# Import the data - Ratings small
rat_df = pd.read_csv("moviedata/ratings_small.csv")
rat_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
rat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [3]:
# Import the data - Credits
cred_df = pd.read_csv("moviedata/credits.csv")

cred_df = pd.DataFrame(cred_df)
cred_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
cred_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [12]:
df = cred_df.apply(lambda x: x.apply(pd.Series).stack()).reset_index().drop('level_1', 1)
df

/var/folders/qy/8015481d5lj05ktcbj2649ym0000gn/T/ipykernel_90308/161420982.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = cred_df.apply(lambda x: x.apply(pd.Series).stack()).reset_index().drop('level_1', 1)

,level_0,cast,crew,id
0,0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...,...
45471,45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [7]:
df = pd.concat([df.drop('cast', axis=1), df['cast'].apply(pd.Series)], axis=1).drop(0,1)
df

/var/folders/qy/8015481d5lj05ktcbj2649ym0000gn/T/ipykernel_90308/2119217723.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = pd.concat([df.drop('cast', axis=1), df['cast'].apply(pd.Series)], axis=1).drop(0,1)

       level_0                                               crew      id
0            0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
1            1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
2            2  [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
3            3  [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
4            4  [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
...        ...                                                ...     ...
45471    45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
45472    45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
45473    45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
45474    45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
45475    45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

[45476 rows x 3 columns]

In [4]:
cred_df.value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2418
[{'cast_id': 1, 'character': 'Pekka', 'credit_id': '52fe4ac79251416c750edd1d', 'gender': 2, 'id': 108471, 'name': 'Petteri Summanen', 'order': 0, 'profile_path': '/l8qfdQLmxGqetZcOXsnP3Ojs32B.jpg'}, {'cast_id': 13, 'character': 'Ismo Valinto', 'credit_id': '592ef81792514130de01097e', 'gender': 2, 'id': 79764, 'name': 'Ismo Kallio', 'order': 1, 'profile_path': None}, {'cast_id': 3, 'character': 'Arto Suominen', 'credit_id': '52fe4ac89251416c750edd25', 'gender': 0, 'id': 108477, 'name': 'Eppu Salminen', 'order': 2, 'profile_path': '/56xNN1JCtMJ4unrtSUEXz1DxtCM.jpg'}, {'cast_id': 4, 'character': 'Anne Hartela', 'credit_id': '52fe4ac89251416c750edd29', 'gender': 1, 'id': 85386, 'name': 'Irina Björklund', 'order': 3, 'profile_path': '/kfPRkNXKhcD3ufp0XMrjkQONFoT.jpg'}, {'cast_id': 5, 'character': 'Aleksi Partio', 'credit_id': '52fe4ac89251416c750edd2d', 'gender': 2, 'id': 124285, 'name': 'Hannu-Pekka Björkman', 'order': 4, 'profile_path': '/6gHHzIqSGCQdoaWy85ZKDjxDpRz.jpg'}, {'cast_id': 6, 'character': 'Laura Koskimies', 'credit_id': '52fe4ac89251416c750edd31', 'gender': 0, 'id': 108472, 'name': 'Jenni Banerjee', 'order': 5, 'profile_path': '/ysFIB6ejEAhp6VwpTbNKGSldzBb.jpg'}, {'cast_id': 7, 'character': 'Juha Pasanen', 'credit_id': '52fe4ac89251416c750edd35', 'gender': 2, 'id': 108476, 'name': 'Mikko Leppilampi', 'order': 6, 'profile_path': '/jkeUShOz01YAkmRO0AmB9v9qlfB.jpg'}, {'cast_id': 8, 'character': 'Hanna Kajaste', 'credit_id': '52fe4ac89251416c750edd39', 'gender': 0, 'id': 108473, 'name': 'Lena Meriläinen', 'order': 7, 'profile_path': None}, {'cast_id': 9, 'character': 'Mari Koski', 'credit_id': '52fe4ac89251416c750edd3d', 'gender': 1, 'id': 108475, 'name': 'Mari Perankoski', 'order': 8, 'profile_path': '/cxwu9zwvaqlRDKOhv0ZL0T3auFF.jpg'}, {'cast_id': 10, 'character': 'Risto Vierikko', 'credit_id': '52fe4ac89251416c750edd41', 'gender': 0, 'id': 89512, 'name': 'Risto Kaskilahti', 'order': 9, 'profile_path': None}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3
[{'cast_id': 5, 'character': 'Sophie II', 'credit_id': '52fe4a44c3a36847f81c4655', 'gender': 1, 'id': 680, 'name': 'Corinna Harfouch', 'order': 0, 'profile_path': '/oEXqVyUnBLP1JxRVhpT6B3pIe37.jpg'}, {'cast_id': 6, 'character': 'Sophie I', 'credit_id': '52fe4a44c3a36847f81c4659', 'gender': 1, 'id': 8790, 'name': 'Meret Becker', 'order': 1, 'profile_path': '/104ahKJHYJtZAPZHHJFAoJQkuuv.jpg'}, {'cast_id': 7, 'character': 'Konrad', 'credit_id': '536a992bc3a368124a0085a9', 'gender': 2, 'id': 11951, 'name': 'August Zirner', 'order': 2, 'profile_path': '/51Bgab3YLjCFIbJoFiXrSK95BXI.jpg'}, {'cast_id': 8, 'character': 'Barbara', 'credit_id': '536a993bc3a3681231008608', 'gender': 1, 'id': 10627, 'name': 'Eva Mattes', 'order': 3, 'profile_path': '/9qUzPuHrQ2DV64CycNJMUFq4YvB.jpg'}, {'cast_id': 9, 'character': 'Müller', 'credit_id': '536a9948c3a3681226008272', 'gender': 2, 'id': 1865, 'name': 'Hark Bohm', 'order': 4, 'profile_path': '/ptmIE7lSIiCS6mlXHOz3WgT7D43.jpg'}, {'cast_id': 10, 'character': 'Professor Lorenz', 'credit_id': '536a9956c3a368121200830e', 'gender': 2, 'id': 2311, 'name': 'Otto Sander', 'order': 5, 'profile_path': '/AurmCt7XRXRMFJ4xVMwTVkL5hg5.jpg'}, {'cast_id': 11, 'character': 'Elisabeth', 'credit_id': '536a996ec3a3681226008278', 'gender': 1, 'id': 39908, 'name': 'Ulrike Krumbiegel', 'order': 6, 'profile_path': '/jf9gKA0GfdZ56PwxcthQiZC6BZ0.jpg'}, {'cast_id': 12, 'character': 'Harald I', 'credit_id': '5647c8479251413ae1004b64', 'gender': 0, 'id': 48370, 'name': 'Pierre Besson', 'order': 7, 'profile_path': '/4mJIPaY0gXANBHkwWIX3d8a1jWj.jpg'}, {'cast_id': 13, 'character': 'Sophies Tante', 'credit_id': '5647c8619251413ae1004b67', 'gender': 0, 'id': 10258, 'name': 'Tina Engel', 'order': 8, 'profile_path': '/6R3jDyKN3LETdfnCPh5n7tYskHT.jpg'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           2
[{'cast_id': 2, 'character': 'The Man', 'credit_id': '52fe4655c3a36847f80f96c3', 'gender': 2, 'id': 70230, 'name': 'Jeremy Theobald', 'order': 0, 'profile_path': '/ij6jFUCMnd2WTicjq4fu9ELPdWS.jpg'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     2
[{'cast_id': 7, 'character': 'Hollander', 'credit_id': '52fe4da29251416c9111ce71', 'gender': 2, 'id': 2232, 'name': 'Michael Keaton', 'order': 0, 'profile_path': '/myVdrYNGTgqunLfUSaM8DuVD7DL.jpg'}, {'cast_id': 3, 'character': 'Sara', 'credit_id': '52fe4da29251416c9111ce61', 'gender': 1, 'id': 11705, 'name': 'Michelle Monaghan', 'order': 1, 'profile_path': '/10PSqSu9Jlfh5rWLbN3YCr8N0P5.jpg'}, {'cast_id': 4, 'character': 'Ryan', 'credit_id': '52fe4da29251416c9111ce65', 'gender': 2, 'id': 134673, 'name': 'Andrew W. Walker', 'order': 2, 'profile_path': '/tIXOvMadH1JI13DFOTnpAfrvQiV.jpg'}, {'cast_id': 5, 'character': 'Blake', 'credit_id': '52fe4da29251416c9111ce69', 'gender': 1, 'id': 70787, 'name': 'Kaniehtiio Horn', 'order': 3, 'profile_path': '/osp3WEMHeI2aBl3WoB1zllJyDTZ.jpg'}, {'cast_id': 8, 'character': 'Chad', 'credit_id': '52fe4da29251416c9111ce75', 'gender': 0, 'id': 183538, 'name': 'Barry Sloane', 'order': 4, 'profile_path': '/kZIPKGCKE47d92mrLN5DbWpsENe.jpg'}, {'cast_id': 16, 'character': 'Danny', 'credit_id': '55e7e47f9251413e380013c1', 'gender': 2, 'id': 82646, 'name': 'Trevor Hayes', 'order': 5, 'profile_path': '/gDTWopS3erov8bhvNohWZKryt3X.jpg'}, {'cast_id': 9, 'character': 'Antonio', 'credit_id': '52fe4da29251416c9111ce79', 'gender': 2, 'id': 23874, 'name': 'Phillip Jarrett', 'order': 6, 'profile_path': None}, {'cast_id': 10, 'character': 'le garçon flemmard', 'credit_id': '5443ac30c3a3683e0e004b7b', 'gender': 0, 'id': 1267117, 'name': 'Olivier Surprenant', 'order': 7, 'profile_path': None}, {'cast_id': 11, 'character': "un sergent de l'armée américaine", 'credit_id': '5443acd9c3a3683e01004b75', 'gender': 0, 'id': 1375561, 'name': 'Timothy Paul Coderre', 'order': 8, 'profile_path': '/z4NEC4bUo2zOyX2IwWRyYIGGWoS.jpg'}, {'cast_id': 12, 'character': 'la fille flemmarde', 'credit_id': '5443af29c3a3683e0e004c07', 'gender': 0, 'id': 1375566, 'name': 'Jasmine Chan', 'order': 9, 'profile_path': None}, {'cast_id': 13, 'character': 'la fille au parc', 'credit_id': '5443b0710e0a26632d004c4e', 'gender': 0, 'id': 1375567, 'name': 'Namukasa Basudde', 'order': 10, 'profile_path': None}, {'cast_id': 14, 'character': 'un passant', 'credit_id': '5443b0de0e0a26634d004c7d', 'gender': 0, 'id': 1375568, 'name': 'Zhaida Uddin', 'order': 11, 'profile_path': None}, {'cast_id': 15, 'character': 'Femme de Kabul en burka', 'credit_id': '5476327dc3a368069c0001de', 'gender': 0, 'id': 1389748, 'name': 'Lindsey Reeves-Whit', 'order': 12, 'profile_path': None}]       2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
[{'cast_id': 0, 'character': '', 'credit_id': '53013c52c3a3680a2e117ca4', 'gender': 2, 'id': 69637, 'name': 'Leslie Cheung', 'order': 1, 'profile_path': '/jY0eInsklo9aYc1Som6vEdVd4OL.jpg'}, {'cast_id': 2, 'character': '', 'credit_id': '553b4f7cc3a3682034000fac', 'gender': 0, 'id': 65353, 'name': 'Jacklyn Wu ', 'order': 2, 'profile_path': '/sla7Fr3Jjl13Jldm5UkJjzrhYR1.jpg'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
[{'cast_id': 1, 'character': 'Sully', 'credit_id': '52fe44e5c3a368484e03cf51', 'gender': 2, 'id': 569, 'name': 'Ethan Hawke', 'order': 0, 'profile_path': '/kcby6VYk6Gb0036nUyh8chY5ZAJ.jpg'}, {'cast_id': 2, 'character': 'Parmie Tarzo', 'credit_id': '52fe44e5c3a368484e03cf55', 'gender': 2, 'id': 7132, 'name': "Vincent D'Onofrio", 'order': 1, 'profile_path': '/lUEn7f7xCLuT1kRCHoxMTRnYKXW.jpg'}, {'cast_id': 4, 'character': 'Jasper Sabiano', 'credit_id': '52fe44e5c3a368484e03cf5f', 'gender': 2, 'id': 5950, 'name': 'Seymour Cassel', 'order': 2, 'profile_path': '/atWyQvsLNjmXP5dxsOiaf5Qg9j.jpg'}, {'cast_id': 5, 'character': 'Mary Halverson', 'credit_id': '52fe44e5c3a368484e03cf63', 'gender': 1, 'id': 86034, 'name': 'Julianne Nicholson', 'order': 3, 'profile_path': '/iXjSXsYpb8GAehnLPKX74eXZE6H.jpg'}, {'cast_id': 6, 'character': 'Tree Man', 'credit_id': '53624cc50e0a2649bb0018d9', 'gender': 2, 'id': 59595, 'name': 'Ian Brennan', 'order': 4, 'profile_path': '/fGSLQRPAQvx58jQVZsWZit50fsQ.jpg'}, {'cast_id': 7, 'character': 'Cop #1', 'credit_id': '55055f5cc3a3686b75000194', 'gender': 0, 'id': 1182724, 'name': 'Larry Mitchell', 'order': 5, 'profile_path': '/iTdRRujnU2H6axxxL4iaefI3mlw.jpg'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1

In [6]:
# cred_sample = cred_df.sample(n=28000, random_state=42)
# cred_sample

,cast,crew,id
26981,"[{'cast_id': 4, 'character': 'David Marx', 'cr...","[{'credit_id': '5630aa66c3a3681b5c00f74e', 'de...",41366
45041,"[{'cast_id': 1, 'character': ""Eduardo 'Eddie' ...","[{'credit_id': '59379c1fc3a36827dd000b2f', 'de...",460846
1818,"[{'cast_id': 9, 'character': 'Paul', 'credit_i...","[{'credit_id': '52fe421dc3a36847f8005383', 'de...",143
11841,"[{'cast_id': 2, 'character': 'Oreste Jacovacci...","[{'credit_id': '5648d02dc3a3682605007df6', 'de...",55823
20026,"[{'cast_id': 1, 'character': 'Nathalie', 'cred...","[{'credit_id': '52fe46b79251416c9105d4fd', 'de...",38414
...,...,...,...
32974,"[{'cast_id': 0, 'character': 'Zoe', 'credit_id...","[{'credit_id': '55891b0fc3a368053e0027f4', 'de...",345931
42721,"[{'cast_id': 0, 'character': 'Seiya (voice)', ...","[{'credit_id': '58722f89c3a3684f070147fb', 'de...",83091
1776,"[{'cast_id': 8, 'character': 'Dedee Truitt', '...","[{'credit_id': '52fe4539c3a36847f80c3063', 'de...",9844
40269,"[{'cast_id': 1001, 'character': 'Avrora', 'cre...","[{'credit_id': '52fe468ac3a368484e0964f7', 'de...",62726
4629,"[{'cast_id': 1, 'character': 'Shanté Smith', '...","[{'credit_id': '52fe44c9c3a368484e036d43', 'de...",25462

In [7]:
cred_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28000 entries, 26981 to 4629
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    28000 non-null  object
 1   crew    28000 non-null  object
 2   id      28000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 875.0+ KB

In [6]:
#Save to new csv file
cred_sample.to_csv("credits_small.csv", index=False)

In [12]:
# Import the data - Keywords
keywordf = pd.read_csv("moviedata/keywords.csv")
keywordf.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [13]:
keywordf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [14]:
# Import the data - Links small
linkdf = pd.read_csv("moviedata/links_small.csv")
linkdf.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [15]:
linkdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   imdbId   9125 non-null   int64
 2   tmdbId   9112 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

In [7]:
# Import the data - Movies Metadata
movdf = pd.read_csv("moviedata/movies_metadata.csv")
movdf.head()

/var/folders/qy/8015481d5lj05ktcbj2649ym0000gn/T/ipykernel_88571/3758159743.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movdf = pd.read_csv("moviedata/movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [8]:
movdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [16]:
movdf.drop(columns=["adult", "homepage", "poster_path", "status", "video"], inplace=True)
movdf.head()

,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [17]:
movdf.isna().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [19]:
# #Save to new csv file
# movdf.to_csv("movies_clean.csv", index=False)