In [1]:
#Import Data Science Libs
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# Import the data - Movies Metadata
movdf = pd.read_csv("moviedata/movies_metadata1.csv")
movdf.head()

,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/95,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/95,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/95,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [3]:
movdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45463 non-null  int64
 1   genres                45463 non-null  object
 2   id                    45463 non-null  int64
 3   imdb_id               45446 non-null  object
 4   original_language     45452 non-null  object
 5   original_title        45463 non-null  object
 6   popularity            45460 non-null  float64
 7   production_companies  45460 non-null  object
 8   production_countries  45460 non-null  object
 9   release_date          45376 non-null  object
 10  revenue               45460 non-null  float64
 11  runtime               45203 non-null  float64
 12  spoken_languages      45460 non-null  object
 13  title                 45460 non-null  object
 14  vote_average          45460 non-null  float64
 15  vote_count            45460 non-null  float64
dtypes: float64(5), int64(2), object(9)
memory usage: 5.5+ MB

In [4]:
movdf.genres.value_counts()

[{'id': 18, 'name': 'Drama'}]                                                                                                                                                                          5000
[{'id': 35, 'name': 'Comedy'}]                                                                                                                                                                         3621
[{'id': 99, 'name': 'Documentary'}]                                                                                                                                                                    2723
[]                                                                                                                                                                                                     2442
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]                                                                                                                                        1301
                                                                                                                                                                                                       ...
[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}, {'id': 9648, 'name': 'Mystery'}, {'id': 10749, 'name': 'Romance'}, {'id': 53, 'name': 'Thriller'}]                                            1
[{'id': 12, 'name': 'Adventure'}, {'id': 16, 'name': 'Animation'}, {'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]                                           1
[{'id': 9648, 'name': 'Mystery'}, {'id': 18, 'name': 'Drama'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]       1
[{'id': 37, 'name': 'Western'}, {'id': 10402, 'name': 'Music'}]                                                                                                                                           1
[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]                                                                        1
Name: genres, Length: 4066, dtype: int64

In [7]:
# Reducing the Genre data to just one type
movdf['genres'] = movdf.genres.apply(lambda x: x.split(",")[0])
movdf.head()

,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,30000000,[{'id': 16,862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/95,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,65000000,[{'id': 12,8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/95,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,0,[{'id': 10749,15602,tt0113228,en,Grumpier Old Men,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,16000000,[{'id': 35,31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,0,[{'id': 35,11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/95,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [ ]:
# Reducing the production_companies data to just one type
movdf['production_companies'] = movdf['production_companies'].apply(lambda x: x.split(",")[0])
movdf.head()

In [ ]:
# Reducing the production_countries data to just one type
movdf['production_countries'] = movdf['production_countries'].apply(lambda x: x.split(",")[0])
movdf.head()

In [ ]:
# Reducing the spoken_languages data to just one type
movdf['spoken_languages'] = movdf['spoken_languages'].apply(lambda x: x.split(",")[0])
movdf.head()

In [ ]:
# Convert data to proper types.

movdf['budget'] = movdf['budget'].astype(int)
movdf['id'] = movdf['id'].astype(int)
movdf['popularity'] = movdf['popularity'].astype(float)
movdf['release_date'] = movdf['release_date'].to_datetime()

movdf.head()