In [113]:
# Data Science Libs
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import ast

# model preprocessing & metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, auc

# algorithm
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [74]:
# Import the data - Movies Metadata
df = pd.read_csv("moviedata/Movie_meta_cleaned.csv")
df.head()

,belongs_to_collection,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [75]:
#Function to cleaned the columns of lists of dicts to pull the names
def parse_column(x):
    try:
        name = ast.literal_eval(x)[0]['name']
    except: 
        name = None
    
    return(name)

In [76]:
#Create new columns for name only
df['genre'] = df.genres.apply(lambda x: parse_column(x))
df['production_company'] = df.production_companies.apply(lambda x: parse_column(x))
df['production_country'] = df.production_countries.apply(lambda x: parse_column(x))
df['spoken_language'] = df.spoken_languages.apply(lambda x: parse_column(x))

df.head()

,belongs_to_collection,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count,genre,production_company,production_country,spoken_language
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0,Animation,Pixar Animation Studios,United States of America,English
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,Adventure,TriStar Pictures,United States of America,English
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0,Romance,Warner Bros.,United States of America,English
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0,Comedy,Twentieth Century Fox Film Corporation,United States of America,English
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0,Comedy,Sandollar Productions,United States of America,English

In [77]:
#Correct the types of the following
df['budget'] = pd.to_numeric(df.budget, errors='coerce')
df['revenue'] = pd.to_numeric(df.revenue, errors='coerce')
df['release_date'] = pd.to_datetime(df.release_date, errors='coerce')
df['popularity'] = pd.to_numeric(df.popularity, errors='coerce')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 45466 non-null  object
 3   original_language      45455 non-null  object
 4   original_title         45466 non-null  object
 5   popularity             45460 non-null  float64
 6   production_companies   45463 non-null  object
 7   production_countries   45463 non-null  object
 8   release_date           45376 non-null  datetime64[ns]
 9   revenue                45460 non-null  float64
 10  runtime                45203 non-null  float64
 11  spoken_languages       45460 non-null  object
 12  title                  45460 non-null  object
 13  vote_average           45460 non-null  float64
 14  vote_count             45460 non-null  float64
 15  genre                  43024 non-null  object
 16  production_company     33585 non-null  object
 17  production_country     39178 non-null  object
 18  spoken_language        41631 non-null  object
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 6.6+ MB

In [79]:
#Drop useless columns
df = df.drop(columns=['belongs_to_collection', 'genres', 'original_language', 'original_title', 'production_companies', 'production_countries', 'spoken_languages'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   budget              45463 non-null  float64
 1   popularity          45460 non-null  float64
 2   release_date        45376 non-null  datetime64[ns]
 3   revenue             45460 non-null  float64
 4   runtime             45203 non-null  float64
 5   title               45460 non-null  object
 6   vote_average        45460 non-null  float64
 7   vote_count          45460 non-null  float64
 8   genre               43024 non-null  object
 9   production_company  33585 non-null  object
 10  production_country  39178 non-null  object
 11  spoken_language     41631 non-null  object
dtypes: datetime64[ns](1), float64(6), object(5)
memory usage: 4.2+ MB

In [80]:
df['release_year'] = df.release_date.apply(lambda x: x.year)
df['release_month'] = df.release_date.apply(lambda x: x.month)
df['release_dayofweek'] = df.release_date.apply(lambda x: x.dayofweek)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   budget              45463 non-null  float64
 1   popularity          45460 non-null  float64
 2   release_date        45376 non-null  datetime64[ns]
 3   revenue             45460 non-null  float64
 4   runtime             45203 non-null  float64
 5   title               45460 non-null  object
 6   vote_average        45460 non-null  float64
 7   vote_count          45460 non-null  float64
 8   genre               43024 non-null  object
 9   production_company  33585 non-null  object
 10  production_country  39178 non-null  object
 11  spoken_language     41631 non-null  object
 12  release_year        45376 non-null  float64
 13  release_month       45376 non-null  float64
 14  release_dayofweek   45376 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 5.2+ MB

In [81]:
df = df.dropna().reset_index(drop=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32020 entries, 0 to 32019
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   budget              32020 non-null  float64
 1   popularity          32020 non-null  float64
 2   release_date        32020 non-null  datetime64[ns]
 3   revenue             32020 non-null  float64
 4   runtime             32020 non-null  float64
 5   title               32020 non-null  object
 6   vote_average        32020 non-null  float64
 7   vote_count          32020 non-null  float64
 8   genre               32020 non-null  object
 9   production_company  32020 non-null  object
 10  production_country  32020 non-null  object
 11  spoken_language     32020 non-null  object
 12  release_year        32020 non-null  float64
 13  release_month       32020 non-null  float64
 14  release_dayofweek   32020 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 3.7+ MB

In [83]:
#to produce weekend results
df['release_is_weekend'] = df.release_date.apply(lambda x: x.dayofweek >3)
#release_is_weekend(lambda x: x.dayofweek >3)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32020 entries, 0 to 32019
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   budget              32020 non-null  float64
 1   popularity          32020 non-null  float64
 2   release_date        32020 non-null  datetime64[ns]
 3   revenue             32020 non-null  float64
 4   runtime             32020 non-null  float64
 5   title               32020 non-null  object
 6   vote_average        32020 non-null  float64
 7   vote_count          32020 non-null  float64
 8   genre               32020 non-null  object
 9   production_company  32020 non-null  object
 10  production_country  32020 non-null  object
 11  spoken_language     32020 non-null  object
 12  release_year        32020 non-null  float64
 13  release_month       32020 non-null  float64
 14  release_dayofweek   32020 non-null  float64
 15  release_is_weekend  32020 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(9), object(5)
memory usage: 3.7+ MB

# Genres

In [85]:
df.genre.value_counts()

Drama              9081
Comedy             6562
Action             3692
Horror             2087
Crime              1435
Documentary        1334
Thriller           1312
Adventure          1301
Romance             931
Animation           830
Fantasy             573
Science Fiction     502
Mystery             457
Family              395
Western             375
Music               324
War                 308
TV Movie            245
History             216
Foreign              60
Name: genre, dtype: int64

In [86]:
#11 categories: drama, comedy, action, horror, crime, documentary, thriller, romance, animation, fantasy, other
#history -> documentary
#thriller -> horror
#mystery -> crime
#war -> action
#western ->action
#science fiction -> fantasy
#family -> animation
#adventure -> action?
#other = foreign, tv movie, music

In [87]:
#Section to combine lower value genres into higher value
#df.loc[df.genre['History'] == "Strategic", "if_fielding_alignment"] = "Infield shift"

df.loc[df.genre == "History", "genre"] = "Documentary"
df.loc[df.genre == "Thriller", "genre"] = "Horror"
df.loc[df.genre == "Western", "genre"] = "Action"
df.loc[df.genre == "Mystery", "genre"] = "Crime"
df.loc[df.genre == "War", "genre"] = "Action"
df.loc[df.genre == "Science Fiction", "genre"] = "Fantasy"
df.loc[df.genre == "Family", "genre"] = "Animation"
#df.loc[df.genre == "History", "genre"] = "Documentary"

df.genre.value_counts()

Drama          9081
Comedy         6562
Action         4375
Horror         3399
Crime          1892
Documentary    1550
Adventure      1301
Animation      1225
Fantasy        1075
Romance         931
Music           324
TV Movie        245
Foreign          60
Name: genre, dtype: int64

In [88]:
#Place TV Movie, Music and Foreign in an other category
genre_small = ["Drama", "Comedy", "Action", "Horror", "Crime", "Documentary", "Adventure", "Animation", "Fantasy", "Romance"]
df.loc[~df.genre.isin(genre_small), "genre"] = "Other"

df.genre.value_counts()

Drama          9081
Comedy         6562
Action         4375
Horror         3399
Crime          1892
Documentary    1550
Adventure      1301
Animation      1225
Fantasy        1075
Romance         931
Other           629
Name: genre, dtype: int64

# Production_company

In [89]:
df.production_company.value_counts()[df.production_company.value_counts() >50]

Paramount Pictures                        975
Metro-Goldwyn-Mayer (MGM)                 807
Twentieth Century Fox Film Corporation    764
Universal Pictures                        739
Warner Bros.                              735
Columbia Pictures                         419
Columbia Pictures Corporation             394
RKO Radio Pictures                        288
United Artists                            269
New Line Cinema                           255
Walt Disney Pictures                      248
Mosfilm                                   178
Miramax Films                             171
TriStar Pictures                          158
Toho Company                              127
Gaumont                                   121
Orion Pictures                            107
BBC Films                                 105
Touchstone Pictures                        98
France 2 Cinéma                            98
Fox Searchlight Pictures                   89
Walt Disney Productions                    89
Village Roadshow Pictures                  88
Universal International Pictures (UI)      81
DreamWorks SKG                             76
Hammer Film Productions                    74
Lions Gate Films                           72
Channel Four Films                         72
New World Pictures                         67
British Broadcasting Corporation (BBC)     67
The Rank Organisation                      67
First National Pictures                    64
Nikkatsu                                   63
Lionsgate                                  62
Regency Enterprises                        62
Canal+                                     62
StudioCanal                                61
American International Pictures (AIP)      61
Shaw Brothers                              60
Shôchiku Eiga                              60
Nordisk Film                               59
Monogram Pictures                          59
CJ Entertainment                           58
TLA Releasing                              58
Imagine Entertainment                      57
Summit Entertainment                       55
Hollywood Pictures                         54
Svensk Filmindustri (SF)                   53
DC Comics                                  52
Rai Cinema                                 51
Name: production_company, dtype: int64

In [90]:
#Go back to this code

df.loc[df.production_company == "Lionsgate", "production_company"] = "Lions Gate Films"
df.loc[df.production_company == "Summit Entertainment", "production_company"] = "Lions Gate Films"
df.loc[df.production_company == "DC Comics", "production_company"] = "Warner Bros."
df.loc[df.production_company == "Columbia Pictures Corporation", "production_company"] = "Columbia Pictures"
df.loc[df.production_company == "British Broadcasting Corporation (BBC)", "production_company"] = "BBC Films"
df.loc[df.production_company == "Universal International Pictures (UI)", "production_company"] = "Universal Pictures"
df.loc[df.production_company == "Walt Disney Productions", "production_company"] = "Walt Disney Pictures"
df.loc[df.production_company == "Hollywood Pictures", "production_company"] = "Walt Disney Pictures"
df.loc[df.production_company == "Fox Searchlight Pictures", "production_company"] = "Twentieth Century Fox Film Corporation"
df.loc[df.production_company == "StudioCanal", "production_company"] = "Canal+"
df.loc[df.production_company == "DreamWorks SKG", "production_company"] = "Walt Disney Pictures"
df.loc[df.production_company == "Touchstone Pictures", "production_company"] = "Walt Disney Pictures"
df.loc[df.production_company == "Miramax Films", "production_company"] = "Paramount Pictures"
df.loc[df.production_company == "TriStar Pictures", "production_company"] = "Columbia Pictures"
df.loc[df.production_company == "Orion Pictures", "production_company"] = "Metro-Goldwyn-Mayer (MGM)"
df.loc[df.production_company == "Village Roadshow Pictures", "production_company"] = "Warner Bros."
df.loc[df.production_company == "New World Pictures", "production_company"] = "Walt Disney Pictures"
df.loc[df.production_company == "Regency Enterprises", "production_company"] = "Walt Disney Pictures"
df.loc[df.production_company == "First National Pictures", "production_company"] = "Warner Bros."
df.loc[df.production_company == "American International Pictures (AIP)", "production_company"] = "Metro-Goldwyn-Mayer (MGM)"

df.production_company.value_counts()[df.production_company.value_counts() >50]

Paramount Pictures                        1146
Metro-Goldwyn-Mayer (MGM)                  975
Columbia Pictures                          971
Warner Bros.                               939
Twentieth Century Fox Film Corporation     853
Universal Pictures                         820
Walt Disney Pictures                       694
RKO Radio Pictures                         288
United Artists                             269
New Line Cinema                            255
Lions Gate Films                           189
Mosfilm                                    178
BBC Films                                  172
Toho Company                               127
Canal+                                     123
Gaumont                                    121
France 2 Cinéma                             98
Hammer Film Productions                     74
Channel Four Films                          72
The Rank Organisation                       67
Nikkatsu                                    63
Shaw Brothers                               60
Shôchiku Eiga                               60
Monogram Pictures                           59
Nordisk Film                                59
CJ Entertainment                            58
TLA Releasing                               58
Imagine Entertainment                       57
Svensk Filmindustri (SF)                    53
Rai Cinema                                  51
Name: production_company, dtype: int64

In [91]:
#Place TV Movie, Music and Foreign in an other category
company_small = ["Paramount Pictures", "Metro-Goldwyn-Mayer (MGM)", "Columbia Pictures", "Warner Bros.", "Twentieth Century Fox Film Corporation", "Universal Pictures", "Walt Disney Pictures", "RKO Radio Pictures", "United Artists", "New Line Cinema", "Lions Gate Films", "Mosfilm", "BBC Films"]
df.loc[~df.production_company.isin(company_small), "production_company"] = "Other"

df.production_company.value_counts()

Other                                     24271
Paramount Pictures                         1146
Metro-Goldwyn-Mayer (MGM)                   975
Columbia Pictures                           971
Warner Bros.                                939
Twentieth Century Fox Film Corporation      853
Universal Pictures                          820
Walt Disney Pictures                        694
RKO Radio Pictures                          288
United Artists                              269
New Line Cinema                             255
Lions Gate Films                            189
Mosfilm                                     178
BBC Films                                   172
Name: production_company, dtype: int64

# Production_country

In [92]:
df.production_country.value_counts()

United States of America    15644
United Kingdom               2585
France                       2243
Canada                       1210
Japan                        1196
                            ...
Syrian Arab Republic            1
Namibia                         1
Botswana                        1
Tanzania                        1
Azerbaijan                      1
Name: production_country, Length: 139, dtype: int64

In [93]:
#Keep production companies with over 1000 values

df.production_country.value_counts()[df.production_country.value_counts() > 50]

United States of America    15644
United Kingdom               2585
France                       2243
Canada                       1210
Japan                        1196
Germany                      1118
Italy                        1068
Russia                        658
India                         542
Spain                         456
Australia                     419
Hong Kong                     366
South Korea                   326
Sweden                        324
Denmark                       252
Belgium                       243
Finland                       224
China                         223
Brazil                        202
Mexico                        190
Poland                        175
Netherlands                   161
Argentina                     135
Czech Republic                129
Ireland                       120
Austria                       104
Norway                         92
Greece                         83
Hungary                        80
Thailand                       76
New Zealand                    76
Turkey                         73
Romania                        72
Switzerland                    71
Israel                         70
Serbia                         64
Iran                           64
Portugal                       59
Philippines                    58
South Africa                   55
Name: production_country, dtype: int64

In [94]:
#Figure out how to do a less than grouping to move to other
#combining less than 1000 ranking 
#combining leftovers into category 'other'

cont_small = ["United States of America", "United Kingdom", "France", "Canada", "Japan", "Germany", "Italy"]
df.loc[~df.production_country.isin(cont_small), "production_country"] = "Other"

df.production_country.value_counts().sort_values(ascending=False)

United States of America    15644
Other                        6956
United Kingdom               2585
France                       2243
Canada                       1210
Japan                        1196
Germany                      1118
Italy                        1068
Name: production_country, dtype: int64

# Spoken_language

In [95]:
#Keep languages with over 100 values

df.spoken_language.value_counts()[df.spoken_language.value_counts() >100]

English        21269
Français        1884
日本語             1080
Deutsch          950
Italiano         943
Español          793
Pусский          713
हिन्दी           317
广州话 / 廣州話        316
한국어/조선말          300
普通话              271
svenska          259
Português        249
No Language      230
Dansk            226
العربية          213
Český            206
suomi            200
Nederlands       183
Polski           164
                 162
Name: spoken_language, dtype: int64

In [96]:
#Go back to this code

df.loc[df.spoken_language == "日本語", "spoken_language"] = "Japanese"
df.loc[df.spoken_language == "广州话 / 廣州話", "spoken_language"] = "Chinese"
df.loc[df.spoken_language == "普通话", "spoken_language"] = "Chinese"
df.loc[df.spoken_language == "हिन्दी", "spoken_language"] = "Hindi"
df.loc[df.spoken_language == "Pусский", "spoken_language"] = "Russian"

df.spoken_language.value_counts()[df.spoken_language.value_counts() >100]

English        21269
Français        1884
Japanese        1080
Deutsch          950
Italiano         943
Español          793
Russian          713
Chinese          587
Hindi            317
한국어/조선말          300
svenska          259
Português        249
No Language      230
Dansk            226
العربية          213
Český            206
suomi            200
Nederlands       183
Polski           164
                 162
Name: spoken_language, dtype: int64

In [97]:
#combining leftovers into category 'other'

lang_small = ["English", "Français", "Japanese", "Deutsch", "Italiano", "Español", "Russian", "Chinese"]
df.loc[~df.spoken_language.isin(lang_small), "spoken_language"] = "Other"

df.spoken_language.value_counts()[df.spoken_language.value_counts() >100].sort_values(ascending=False)


# df.loc[~df.spoken_language.isin(df.spoken_language.value_counts() < 100), 'spoken_language'] = 'Other'

English     21269
Other        3801
Français     1884
Japanese     1080
Deutsch       950
Italiano      943
Español       793
Russian       713
Chinese       587
Name: spoken_language, dtype: int64

In [98]:
# Save copy to new df

df1 = df.copy()

In [137]:
#save new df to csv file
#Use this csv in Tableau

df1.to_csv("movies_final.csv", index=False)